{%- if render_title %}
{{ header_prefix }} {{ versiondata.name }} {{ versiondata.version }} ({{ versiondata.date }})
{% endif %}

{% for section, _ in sections.items() %}
{% if section %}

{{ header_prefix }}{{ header_prefix }} {{ section }}

{% endif %}
{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section] %}
{{ header_prefix }}{{ header_prefix }}{{ "#" if section else "" }} {{ definitions[category]['name'] }}

{% for text, values in sections[section][category].items() %}
- {{ text }} ({{ values|join(', ') }})
{% endfor %}

{% endfor %}
{% else %}
No significant changes.

{% endif %}
{% endfor %}
